# Cloudinary signed uploads
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_SITE_URL=
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_TO=
RESEND_AUDIENCE_ID=
DATABASE_URL=
DIRECT_DATABASE_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NODE_ENV=
